<!DOCTYPE html>
<html lang="en" class="no-js">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="He Zhang" />
      <title>Campaign builder</title>
      <meta name="keywords" content="Campaign, Builder" />
      <link rel="stylesheet" type="text/css" href="/css/default.css" />
      <link rel="stylesheet" type="text/css" href="/css/component.css" />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="/css/dialog.css">
      <link href="/css/video-js.css" rel="stylesheet" type="text/css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
      <script src="/js/jquery.cbpNTAccordion.min.js"></script>
      <script src="/js/modernizr.custom.js"></script>    
      <script src="/js/campaign.js"></script> 
      <script type="text/javascript" src="/js/video.dev.js"></script>
      <script type="text/javascript" src="/js/video.js"></script>
      <script type="text/javascript" src="/js/video.novtt.dev.js"></script>
      <script type="text/javascript" src="/js/video.novtt.js"></script>
      <script>
         videojs.options.flash.swf = "video-js.swf";
      </script>
      <script type="text/javascript" src="/js/quickpager.jquery.js"></script>
      <script type="text/javascript">         
         $(document).ready(function() { 
            $("ul.paging").quickPager({pageSize:"10"});            
         });
      </script>
      <style type="text/css">
         div.ui-datepicker {
         font-size: 62.5%;
         }
      </style>
      <style type="text/css">
         h1, h2,ul {
         clear: both;
         }
         ul.paging li,
         ul.paging2 li {
         padding: 5px;
         background-color:rgba(153,0,0,0.3);
         font-family: georgia;
         font-size: 18px;
         color: #fff;
         line-height: 1;
         width: 500px;
         margin-bottom: 1px;
         }
         ul.red {
         outline:10px solid red;
         }
         ul.simplePagerNav li{
         display:block;
         floaT: left;
         padding: 3px;
         margin-bottom: 10px;
         font-family: georgia;
         }
         ul.simplePagerNav li a{
         color: #333;
         text-decoration: none;
         }
         li.currentPage {
         background: red;
         background: #83bd63;  
         }
         ul.simplePagerNav li.currentPage a {
         color: #fff;   
         }
         table.pageme {
         border-collapse: collapse;
         border: 1px solid #ccc;
         }  
         table.pageme td {
         border-collapse: collapse;
         border: 1px solid #ccc;
         }      
      </style>
   </head>
   <body>
      <header class="clearfix" align="center">
         <h1 >Campaign Builder</h1>
         <a href="/"><font size="4" color="red">Go to Catalogue Management</font></a>  
      </header>
      <p></p>
      <p></p>
      <p></p>
      <table align="center">
         <tr>
            <td width='640' valign="top" >
               <p><font size="5" color="black">Campaign list</font></p>
               <ul class="paging">
                  <% campaigns.content.each do |entry| %>
                  <li><button  style="border:none; background-color: transparent;" class="edit-campaign-button" name="<%=entry['id']%>"><img align="buttom" src="/pic/write_edit_icon.png" style="width:24px;height:24px;"></button>
                     <font size="5" color="black"><%=entry['name']%></font>
                  </li>
                  <% end %>
               </ul>
            </td>
            <td width="640" valign="top" align="left">
               <p><font size="5">Campign details</font> </p>
               <div>
                  <form id="campaign-edit-form">
                     Campaign ID: &nbsp;&nbsp; <span style="color:red" id="id-span"></span> 
                     <p></p>
                     Campaign name:    
                     <input type="text" name="name"  
                        value="" size="35">
                     <p></p>
                     Company name:    
                     <input type="text" name="company"  
                        value="" size="35">
                     <p></p>
                     Owner:    
                     <input type="text" name="owner"  
                        value="" size="35">
                     <p></p>
                     Affiliate URL:
                     <input type="text" name="affiliate-url"  
                        value="" size="35">
                     <p></p>
                     Upload cover picture:    
                     <input type="file" name="cover-pic">
                     <p></p>
                     <table>
                        <tr>
                           <td>
                              Start date:
                              <div id="start" style="display: inline"></div>
                           </td>
                           <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                           <td>
                              End date: 
                              <div style="display: inline" id="end"></div>
                           </td>
                        </tr>
                     </table>
                  </form>
                  <p></p>
                  <p></p>
                  Upload video campaign:    
                  <input type="file" name="select">
                  <p></p>
                  <p></p>
                  <p></p>
                  <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="360" height="240"
                     poster="/pic/enadco.png"
                     data-setup="{}">
                     <source src="/video/sample.mp4" type='video/mp4' />
                     <!-- <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' /> -->
                     <!--                      <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
                     <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track>
                     <!-- Tracks need an ending tag thanks to IE9 -->
                     <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track>
                     <!-- Tracks need an ending tag thanks to IE9 -->
                     <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</a></p>
                  </video>
                  <p></p>
                  <button type="submit" id="campaign-edit-save">Save Modification</button>
               </div>
            </td>
         </tr>
      </table>
      <br>
      Demo page 
      <body>
</html>