<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Header</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/js/common.js"></script> 
</head>
<body>

<div id='common-header'>
<h1>Dash Board</h1>

<a class='header-button' href="/catalogue">Catalogue</a>
<a class='header-button' href="/builder">Campaigns</a>
<a class='header-button' href="/users/login">Beamer</a>
</div>
 
</body>
</html>
