.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;    
}

.category-name { 
    width: 100em;
    display: inline;
    padding: .5em;
}